:root {
    --primary-color: #b5701b;   
    --secondary-color: #88561a; 
    --hovertext-color: #555;    
    --background-color: #f7f7f7;   
    --font-color: #f7f7f7;      
    --flipcard-color: #f7f7f7;
    --element-background: #fff;
    --phe-color: #555;
}

.darkmode {
    --primary-color: #a98350;  
    --secondary-color: #a98350; 
    --hovertext-color: #b5b5b5; 
    --background-color: #2c2c2c; 
    --font-color: #dcdcdc;       
    --flipcard-color: #3a3a3a;
    --element-background: #3a3a3a;
    --phe-color: chocolate;   
}

body {
    background-color: var(--background-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
}

.navbar {
    align-items: center;
    justify-content: space-between;
    display: flex;
    top: 0;
    position: fixed;
    background-color: var(--primary-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    z-index: 2;
}

.navbar button {
    background-color: var(--primary-color);
    color: var(--font-color);
    border: 3px solid var(--font-color);
    border-radius: 100%;
    cursor: pointer;
    margin-right: 100px;
}

.navbar button:hover {
    background-color: var(--hovertext-color);
    color: var(--primary-color);
}

.navbar button img {
    width: 30px;
    height: 30px;
    margin: 10px;
}

nav ul.logo {
    margin-right: auto;
    width: 10px;
}

nav ul.menu {
    position: center;
    display: flex;
    justify-content: center;
    padding: 0;
    flex-grow: 1;
    margin-left: 200px;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li img {
    width: auto;
    height: 100px;
}

nav ul li a {
    color: var(--font-color);
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    transition: ease 0.3s;
    display: block;
}

nav ul li a:hover {
    color: var(--hovertext-color);
}

.undernav {
    margin-top: 300px;
    text-align: center;
}

.undernav h1 {
    font-size: 53px;
    color: var(--primary-color);
    margin: 0;
    padding: 0;
}

.undernav p {
    font-size: 30px;
    color: var(--hovertext-color);
    margin: 100px;
    padding: 0px;
}

#hamburger {
    display: none;
}

main {
    margin-top: 170px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

#line-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#logo-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#logo-area img {
    width: 80px;
    height: 80px;
}

#line-text {
    display: flex;
    gap: 20px;
}

#text-area {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-left: 70px;
    margin-right: 70px;
}

#text-area h1 {
    font-size: 40px;
    color: var(--primary-color);
}

#text-area p {
    font-size: 25px;
    color: var(--hovertext-color);
}

#catalogue {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#catalogue-area {
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.catalogue-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px; 
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 20px;
    z-index: 1;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    justify-content: center;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front img{
    width: 300px;
    height: 300px;
}
.flip-card-front {
    background-color: var(--flipcard-color);
    color: black;
}

.flip-card-back {
    background-color: var(--secondary-color);
    color: white;
    transform: rotateY(180deg);
}

/* ========================================================= BATAS MAIN CONTENT ================================================================== */
#Photo {
    padding: 20px;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    background-color: var(--element-background);
}

#Photo img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    filter: brightness(80%);
}

#biodata {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--background-colorr);
}

#PHE {
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--background-color);
}

#profile, #Hobbies, #Education{
    background-color: var(--element-background);
    padding: 20px;
    margin-left: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    color: var(--phe-color);
}


#SocialMedia {
    background-color: var(--element-background);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    gap: 20px;
}

#SocialMedia a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--element-background);
}

#SocialMedia a img {
    width: 50px;
    height: 50px;
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 0px;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.fit-container {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-info a {
    color: black;
    text-decoration: none;
    transition: ease 0.3s;
}

.footer-info a:hover {
    color: var(--hovertext-color);
}

.footer-logo {
    margin-right: 34%;
}

.footer-logo img {
    width: 100%;
    height: 100px;
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 80%;
    }
}

@media screen and (max-width: 768px) {

    #hamburger {
        display: block;
    }

    .navbar {
        width: 100%;    
    }

    .navbar button {
        margin-right: 20px;
        padding: 0;
    }

    .navbar button img {
        width: 25px;
        height: 25px;
    }


    .navbar button {
        margin-right: 20%;
        padding: 0;
    }

    .navbar ul.menu {
        flex-direction: column;
        position: absolute;
        width: 20rem;
        height: 100vh;
        background-color: var(--background-color);
        top: 100%;
        left: -100%;
        margin: 0;
        padding: 0;
        transition: 0.5s;
    }

    .navbar ul.menu.active {
        left: 0;
    }

    .navbar ul.menu li a{
        color: var(--hovertext-color);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .undernav {
        margin-top: 200px;
    }

    main {
        margin-top: 150px;
    }

    #catalogue {
        margin-left: 50px;
        margin-right: 50px;
    }

    #catalogue-area {
        gap: 10px;
    }

    #text-area {
        margin-left: 50px;
        margin-right: 50px;
    }

    #logo-area img {
        width: 60px;
        height: 60px;
    }

    #text-area h1 {
        font-size: 30px;
    }

    #text-area p {
        font-size: 20px;
    }

    #catalogue {
        margin-left: 50px;
        margin-right: 50px;
    }

    #catalogue-area {
        gap: 10px;
    }

    #Photo {
        padding: 10px;
        margin-right: auto;
        margin-bottom: 10px;

    }

    #Photo img {
        width: 30vw;
        height: auto;
    }

    #biodata {
        gap: 10px;
        margin-top: 1%;
    }

    #profile, #Hobbies, #Education{
        padding: 10px;
        margin-left: auto;
        margin-bottom: 10px;
    }

    #SocialMedia {
        padding: 10px;
        margin-bottom: 10px;
    }

    #SocialMedia a {
        gap: 10px;
    }

    footer {
        margin-top: 1%;
        display: flex;
    }

    .fit-container{
        width: 100%;
        height: auto;

    }

    .footer-info {
        margin-right: 0;
    }

    .footer-info p{
        margin: 0;
    }

    .footer-logo{
        margin: 0;

    }
    
}